<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Login</title> 
	<link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="/static/main.css" rel="stylesheet">
	<link href="/static/icons/solid.min.css" rel="stylesheet">
	<link href="/static/icons/fontawesome.min.css" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body class="d-flex text-center text-white bg-dark">
	<div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
		<form class="card p-2 bg-dark" action="#" th:action="login" method="post">
			<header class="mb-auto">
				<div>
					<h3 class="float-md-start mb-0">Login</h3>
				</div>
			</header>	
			
		<main class="px-6">
			<div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
				<div class="input-group field-tittle">
					<p class="lead">User</p>
				</div>
				
	            <div class="input-group">
	                <input type="text" id="username" name="username" class="form-control"/>
	            </div>			
	            
				<div class="input-group field-tittle">
					<p class="lead">Password</p>
				</div>
				
	            <div class="input-group">
	                <input type="password" id="password" name="password" class="form-control"/>
	            </div>	
	            
	            <div class="input-group outer-div">
	            	<div class="inner-div">
						<button type="submit" class="btn boton">
						    <i class="fa fa-user"></i> Login
						</button>	            	
	            	</div>
	            </div>		            			            	
			</div>	
		</main>			
		</form>
	</div>
</body>
</html>